<%= form_for Message.new do |f| %>
<div class="row">
   <div class="large-12 columnes">
      <%= render 'shared/error_messages', object: f.object %>
   </div>
</div>
<div class="row">
   <div class="large-12 columnes">
      <div class="field">
         <%= f.text_area :recipient_id, placeholder: "Recipient" %>
         <%= f.text_area :subject, placeholder: "Subject Line" %>
         <%= f.text_area :content, placeholder: "Compose new message..." %>
      </div>
      <%= f.submit "Send", class: "button success" %>

   </div>
</div>
<% end %>


