<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
   <li class="dash-icons <%= "active-icon" if request.path=='/dashboard' %>"><a href="<%= dashboard_path %>"><%= image_tag "icon3.jpg", alt:"Content" %>Dashboard</a></li>
   <li class="dash-icons <%= "active-icon" if request.path=='/users/edit' %>"><a href="<%= edit_user_registration_path %>"><%= image_tag "icon1.jpg", alt:"Content" %>Profile</a></li>
   <li class="dash-icons <%= "active-icon" if request.path=='/messages' %>"><a href="<%= messages_path %>"><%= image_tag "icon2.jpg", alt:"Content" %>Message</a></li>
   <li class="dash-icons <%= "active-icon" if request.path=='/calendars' %>"><a href="<%= calendars_path %>"><%= image_tag "icon4.jpg", alt:"Content" %>Calendar</a></li>
   <li class="dash-icons <%= "active-icon" if request.path=='/charts' %>"><a href="<%= charts_path %>"><%= image_tag "icon5.jpg", alt:"Content" %>&nbsp;&nbsp;Reports</a></li>
</ul>