<br>
<!-- Header and Nav -->

<div class="row">
   <div class="large-12 columns">
      <div class="panel">
         <h1>Health &amp; Wellness Overview</h1>
      </div>
   </div>
</div>

<!-- End Header and Nav -->


<div class="row">

   <!-- Main Feed -->
   <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
   <div class="large-9 columns">
      <div class="large-12 columns">

         <%= render partial: 'shared/nav_controls' %>

      </div>

      <div class="row">
         <div class="large-12 columns">
          

          <%= form_for :chart, url: chart_path(@chart), method: :patch do |f| %>
            <h2 class="subheader"><%= @chart.user.full_name %>'s&nbsp;Chart</h2>
            <br>
            <h4>Vitals</h4>
            <div class="row">
              <%= f.label :height, "Height" %>
              <%= f.text_field :height %>
            </div>

            <div class="row">
              <%= f.label :weight, "Weight" %>
              <%= f.text_field :weight %>
            </div>

            <div class="row">
              <%= f.label :bp, "Blood Pressure" %>
              <%= f.text_field :bp %>
            </div>

            <div class="row">
              <%= f.label :heart_rate, "Heart Rate" %>
              <%= f.text_field :heart_rate %>
            </div>

            <div class="row">
              <%= f.label :resp_rate, "Resipiratory Rate" %>
              <%= f.text_field :resp_rate %>
            </div>

            <hr>
            
            <h4>Collected From Patient</h4>
            <div class="row">
              <%= f.label :visit_purpose, "Purpose" %>
              <%= f.text_field :visit_purpose %>
            </div>

            <div class="row">
              <%= f.label :given_symptoms, "Symptoms" %>
              <%= f.text_field :given_symptoms %>
            </div>

            <div class="row">
              <%= f.label :preconditions, "Preconditions" %>
              <%= f.text_field :preconditions %>
            </div>

            <hr>
  
            <h4>Observed by Doctor/PA</h4>
            <div class="row">
              <%= f.label :observed_symptoms, "Symptoms" %>
              <%= f.text_field :observed_symptoms %>
            </div>

            <div class="row">
              <%= f.label :comments, "Comments" %>
              <%= f.text_field :comments %>
            </div>

            <div class="row">
              <%= f.label :diagnosis, "Diagnosis" %>
              <%= f.text_field :diagnosis %>
            </div>

            <div class="row">
              <%= f.label :prognosis, "Prognosis" %>
              <%= f.text_field :prognosis %>
            </div>

            <hr>

            <h4>Instructions Given</h4>
            <div class="row">
              <%= f.label :verbal_instructions, "Verbal Instructions" %>
              <%= f.text_field :verbal_instructions %>
            </div>

            <hr>

            <h4>Misc</h4>
            <div class="row">
              <%= f.label :notes, "notes" %>
              <%= f.text_field :notes %>
            </div>

            <div class="row">
              <%= f.label :lab_request, "Lab Requests" %>
              <%= f.text_field :lab_request %>
            </div>

            <div class= "row"><%= f.submit "Update", class: "button" %></div>
          <% end %>

         </div>
      </div>

   </div>

   <!-- Right Sidebar -->
   <!-- On small devices this column is hidden -->
   <aside class="large-3 columns hide-for-small">
      <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
        <%= render partial: 'dashboards/side_bar' %>
      </ul>
   </aside>

</div>

