<% provide(:title, 'Charts') %>
<br>
<!-- Header and Nav -->

<div class="row">
   <div class="large-12 columns">
      <div class="panel">
         <h1>Health &amp; Wellness Overview</h1>
      </div>
   </div>
</div>

<!-- End Header and Nav -->


<div class="row">

   <!-- Nav Sidebar -->
   

   <!-- Main Feed -->
   <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
   <div class="large-9 columns">
      <div class="large-12 columns">

         <%= render partial: 'shared/nav_controls' %>

      </div>

      <div class="row">
         <div class="large-12 columns">
            <div class="row">
               <div class="large-12 columns">
                  <dl class="accordion" data-accordion>
                     <% if @charts.any? && current_user.role == 1%>
                        <h3>Charts (<%= @charts.count %>)</h3>
                        <%= render partial: 'patient_chart_list', collection: @charts %>
                     <% end %>

                     <% if @chart_all.any? && current_user.role == 50 || current_user.role == 60 || current_user.role == 66 %>
                        <h3>Charts (<%= @chart_all.count %>)</h3>
                        <%= render partial: 'chart', collection: @chart_all %>
                     <% end %>
                  </dl>
               </div>
            </div>
         </div>
      </div>

   </div>

   <!-- Right Sidebar -->
   <!-- On small devices this column is hidden -->
   <aside class="large-3 columns hide-for-small">
      <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
         <%= render partial: 'dashboards/side_bar' %>
      </ul>
   </aside>

</div>