<% provide(:title, 'Calendar') %>
<br>
<!-- Header and Nav -->

<!-- End Header and Nav -->


<div class="row">

   <!-- Main Feed -->
   <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
   <div class="large-9 columns">
      <div class="large-12 columns">

         <%= render partial: 'shared/nav_controls' %>

      </div>

<!-- schedule appointment -->
<div class="row">
   <div class="large-12 columns">
      <%= '<a href="#" class="button" data-reveal-id="schedule-appointment">Schedule an Appointment</a>'.html_safe unless current_user.role == 60 || current_user.role == 66 || current_user.role == 50 || current_user.role == 90 || current_user.role == 100 %>

      <div id="schedule-appointment" class="reveal-modal" data-reveal>
         <h2>Appointment</h2>
         <p><%= render partial: 'appointments/appointment_form' %></p>
         <a class="close-reveal-modal">&#215;</a>
      </div>
   </div>
</div>

      <div class="row">
         <div class="large-12 columns">
            <dl class="tabs" data-tab>
               <dd class="active"><a href="#calendar">Calendar</a></dd>
               <%= '<dd><a href="#schedule-appointment">Scheduled Appointments</a></dd>'.html_safe unless current_user.role == 30 %>                       
            </dl>
            <div class="tabs-content">
               <div class="content active" id="calendar">

                        

                      <%= render partial: 'calendar' %>


               </div>
               <div class="content" id="schedule-appointment">
                  <%= render partial: 'appointments/appointment', collection: @appointments %>
               </div>
            </div>
         </div>
      </div>
    </div>



   <!-- Right Sidebar -->
   <!-- On small devices this column is hidden -->
   <aside class="large-3 columns <%= "hide-for-small" unless current_user.role == 30 || 100 %>">
      <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
         <%= render partial: 'dashboards/side_bar' %>
      </ul>
   </aside>

</div>