<dd>
   <a href="#msg-<%= message_list.id %>">
      <h5><strong><%= message_list.subject %></strong></h5>
      From: <%= message_list.user.email %>
      <pre class="small-text-right"><%= time_ago_in_words(message_list.created_at) %> ago</pre>
   </a>
   <div id="msg-<%= message_list.id %>" class="content">
         <p><%= message_list.content %></p>
   </div>
</dd>