<% provide(:title, 'Overview') %>
<br>
<!-- Header and Nav -->

<div class="row">
   <div class="large-12 columns">
      <div class="panel">
         <h1>Health &amp; Wellness Overview</h1>
      </div>
   </div>
</div>

<!-- End Header and Nav -->


<div class="row">

   <!-- Main Feed -->
   <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
   <div class="large-9 columns">
      <div class="large-12 columns">

         <%= render partial: 'shared/nav_controls' %>

      </div>

       <%= render partial: "patient_dash" if current_user.role == 1 %>
      <%= render partial: "receptionist_dash" if current_user.role == 30 %>
      <%= render partial: "nurse_dash" if current_user.role == 50 %>
      <%= render partial: "doctor_dash" if current_user.role == 60 || current_user == 66 %>

   </div>

   <!-- Right Sidebar -->
   <!-- On small devices this column is hidden -->
   <aside class="large-3 columns <%= "hide-for-small" unless current_user.role == 30 || 100 %>">
      <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
         <%= render partial: 'side_bar' %>
      </ul>
   </aside>

</div>