<%= form_for :chart, url: appointments_path do |f| %>

   <%= '<div class="row">'.html_safe if current_user.role == 30 %>
         <%= f.label :user_id, "Patient" if current_user.role == 30%>
         <%= collection_select(:user, :user_id, User.where("role = ?", 1), :id, :get_name) if current_user.role == 30%>
   <%= '</div>'.html_safe if current_user.role == 30 %>

   <div class="row">
      <%= f.label :apt_date, "Date" %>
      <%= f.date_field :apt_date %>
   </div>

   <div class="row">
      <%= f.label :apt_time, "Time" %>
      <!-- <= f.select(:apt_time, 1..12) %> -->
      <% my_time = Time.now + 5.days + 7.hours + 3.minutes + 14.seconds %>
      <!-- <= select_time(my_time,html_options={class:"large-3 columns"}) %> -->
      <%= time_select 'chart', 'apt_time', {ampm: true} %>
   </div>

   <div class="row">
      <%= f.label :attending_physician, "Preferred Doctor/PA" %>
      <%= collection_select(:chart, :attending_physician, User.where("role = ? OR role = ?", 60, 66), :id, :get_name) %>
   </div>

   <div class= "row"><%= f.submit "Create", class: "button" %></div>
<% end %>

<!-- t.integer :user_id
      t.datetime :apt_date
      t.datetime :apt_time
      t.integer :attending_physician
      t.integer :rescheduled -->