<dd>
   <a href="#appointment-<%= appointment.id %>"><%= appointment.apt_date.to_formatted_s(:month_and_year) unless appointment.apt_date.nil? %></a>
   <div id="appointment-<%= appointment.id %>" class="content">

      <h6 class="subheader"><%= appointment.apt_time.to_formatted_s(:normal_time) unless appointment.apt_time.nil? %></h5>
      <ul class="no-bullet">
         
      </ul>

      <br>
      <% if current_user.role == 30 %>
         <%= link_to("Check-in Patient", { controller: "charts", action: "check_in" }, class:"button tiny success") %>
         <%= link_to 'Reschedule', "#", class: "button tiny" %>
         <%= link_to 'Cancel', "#", class: "button alert tiny" %>
      <% end %>
   </div>
</dd>
