<br>

<div class="row">

   <!-- Main Feed -->
   <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
   <div class="large-9 columns">
      <div class="large-12 columns">

         <%= render partial: 'shared/nav_controls' %>

      </div>

      <div class="row">
         <div class="large-12 columns">

            <%= form_for :chart, url: appointments_path(@appointment), method: :post do |f| %>

               <div class="row">
                  <h4>Reschedule appointment for: <%= @patient.full_name unless @patient.nil? %></h4>
               </div>

               <div class="row">
                  <%= f.label :apt_date, "Date" %>
                  <span class="label"> Current Date: <%= @appointment.apt_date.to_formatted_s(:month_and_year) unless @appointment.apt_date.nil? %></span>
                  <%= f.date_field :apt_date %>
               </div>

               <div class="row">
                  <%= f.label :apt_time, "Time" %>
                  <!-- <= f.select(:apt_time, 1..12) %> -->
                  <span class="label"> Current Time: <%= @appointment.apt_time.to_formatted_s(:normal_time) unless @appointment.apt_time.nil? %></span>
                  <% my_time = Time.now + 5.days + 7.hours + 3.minutes + 14.seconds %>
                  <!-- <= select_time(my_time,html_options={class:"large-3 columns"}) %> -->
                  <%= time_select 'chart', 'apt_time', {ampm: true} %>
               </div>

               <div class="row">
                  <%= f.label :attending_physician, "Preferred Doctor/PA" %>
                  <span class="label"> Current Attending: <%= @doctor.full_name unless @doctor.nil? %></span>
                  <%= collection_select(:chart, :attending_physician, User.where("role = ? OR role = ?", 60, 66), :id, :get_name) %>
               </div>

               <div class= "row"><%= f.submit "Reschedule", class: "button success" %></div>
            <% end %>

         </div>
      </div>

   </div>

   <!-- Right Sidebar -->
   <!-- On small devices this column is hidden -->
   <aside class="large-3 columns hide-for-small">
      <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
        <%= render partial: 'dashboards/side_bar' %>
      </ul>
   </aside>

</div>

